@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page {
    @apply flex px-2 mx-4 mt-4 ml-16 md:ml-48
  }
  
  /* .default-colors {
    @apply bg-dark-800 hover:bg-dark-700 border-dark-600 hover:border-dark-500 border-2 rounded-md
    background: theme("colors.dark.800");
    border-radius: theme("borderRadius.md");
    border-color: theme("colors.dark.600")
  } */

  .default-colors {
    background-color: theme("colors.dark.800");
    border-color: theme("colors.dark.600");
    color: theme("colors.white");
  }

  .default-colors:hover {
    background-color: theme("colors.dark.700");
    border-color: theme("colors.dark.500");
  }

  .button {
    width: theme("maxWidth.fit");
    padding: theme("padding.2");
    margin: theme("margin.1");
    /* padding-right: theme("padding.2"); */

    /* background-color: theme("colors.dark.800"); */
    
    border-width: 2px;
    /* border-color: theme("colors.dark.600"); */
    border-radius: theme("borderRadius.md");
    
    transition: theme("transitionProperty.all");
    transition-duration: theme("transitionDuration.75");

    color: theme("colors.dark.300");
  }

  .button:hover {
    /* background-color: theme("colors.dark.700"); */
    /* border-color: theme("colors.dark.500"); */
    color: theme("colors.white");
  }

  .button:active, .button:target {
    border-color: theme("colors.contrast.light");
  }
  
  /* .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .icon {
    width: theme("width.6");
    height: theme("height.6");
  }

  .navlink {
    transition: theme("transitionProperty.all");
    transition-duration: theme("transitionDelay.75")
  }

  .navlink:active, .navlink:target {
    background: theme("colors.dark.700");
  }
}

/* .titlebar-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
} */

html {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: theme("colors.dark.900");
  }
}
